<img class=last src="images/last pic I.png" />

<div class=containerI>
    <div class=title class=front id=teamName onclick="window.location.href='./'">MintBlueTurquoise</div>
    <!-- <div class=front id=teamName onclick="window.location.href='./'">Home</div> -->
    <!-- <div class=front onclick="window.location.href='./page1'">About Me</div> -->
    <div class=front onclick="window.location.href='./page2'">Open Source</div>
    <div class=front onclick="window.location.href='./page3'">Impressum</div>
    <div><a class=front><a href="https://www.youtube.com/@MintBlueTurquoise" class="fa fa-youtube"></a></a></div>
    <div><a class=front><a href="https://www.instagram.com/landlebenamsee/" class="fa fa-instagram"></a></a></div>
    <div><a class=front><a href="https://www.linkedin.com/in/stefanie-mayer-289000252/" class="fa fa-linkedin"></a></a></div>
    <div><a class=front><a href="https://github.com/StefanieMayer" class="fa fa-github"></a></a></div>
</div>

<footer class="footer">© <%= new Date().getFullYear() %> Stefanie Mayer </footer>