<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="styles/style.css">



    <title>Document</title>
        <!-- <img id=logo src="images/Profilbild Purple Purple II.png" /> -->
    <div class=container>
        <p class=front id=teamName onclick="window.location.href='./'">Home</p>
        <p class=front onclick="window.location.href='./page1'">About Me</p>
        <p class=front onclick="window.location.href='./page2'">Making of</p>
        <p class=front onclick="window.location.href='./page3'">Impressum</p>
        <a class=front href="https://www.youtube.com/@MintBlueTurquoise">Zeichen youtube</a>
        <a class=front href="https://www.instagram.com/landlebenamsee/">Zeichen Insta</a>
        <a class=front href="https://www.linkedin.com/in/stefanie-mayer-289000252/">Zeichen LinkedIn</a>
        <a class=front href="https://github.com/StefanieMayer">Zeichen Github</a>
    </div>
</head>
<body>
    
    
</body>
</html>