<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefanie</title>
</head>
<body>
    <img class=logo src="images/Profilbild Purple React II.png" />
    <p>Feel free to join me!</p>
    <img class=Smile src="images/GH010268 - Copy (2) - frame at 3m33s.jpg" />
    <!-- <img class=Smile src="images/GH010268 - Copy (2) - frame at 4m3s.jpg" /> -->
    <!-- <img class=Smile src="images/GH010268 - Copy (2) - frame at 3m48s.jpg" /> -->
    <img class=Smile src="images/GH010268 - Copy (2) - frame at 3m55s.jpg" />
    <P>To live in alignments with the elements.</P>
    <img class=Smile src="images/Roundhouseskick Smile II.png" />
    <p>Do sport with me mixed with some Karate moves and a bit of meditation.</p>
    <img class=gif src="images/Kick I.gif" />


    <!-- <h2>MintBlueTurquoise</h2> -->
    <h3></h3>
</body>
</html>
<%- include("partials/footer.ejs") %>