<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefanie</title>
</head>
<body>
    <p>Camera: GoPro8Black</p>
    <p>The code is written with Javascript, Embedded JavaScript and CSS on Visual Studio Code / Node.js. Check out the code on Github, it's open source. You can copy and paste it for your own Homepage or take some inspirations. <br> Beside you will find a more simple HTML and CSS Version of the code.</p>
    <p></p>
</body>
</html>
<%- include("partials/footer.ejs") %>