html{
    background-color:  rgb(255, 255, 255);
    color: rgb(3, 35, 86);
    font-family: "Times New Roman", serif;
    text-align: center;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    /* margin-top: 10px; */
}

body{
    margin:0px;
    }

h1{
    font-size: 40pt;
}

h3{
    font-size:70pt;
}

.container{
    display: flex;
    color: rgb(3, 35, 86);
    font-family: "Times New Roman", serif;
    gap: 20px;
    font-size: 15pt;
    text-decoration: none;
    float: right;
    padding: 40px;
}

.containerI{
    display: flex;
    color: rgb(3, 35, 86);
    font-family: "Times New Roman", serif;
    gap: 20px;
    font-size: 15pt;
    text-decoration: none;
    justify-content: center;
    padding: 40px;
}

.title{
    font-weight: bold;
}

.title:hover {
    opacity: 0.6;
    cursor: pointer;
  }

.fa {
    text-decoration: none;
    color: rgb(3, 35, 86);
  }

.front:hover {
    opacity: 0.6;
    cursor: pointer;
  }

.fa:hover {
    opacity: 0.6;
  }

/* .container:hover{
    color: rgb(48, 114, 236);
} */

.button1{
    background-color: rgb(198, 239, 249);
    color: cornflowerblue;
    text-align: center;
}

.link{
    text-decoration: none;
}

.logo{
    width: 100%;  
    margin: 0px;
}

.gif{
    width: 30%;  
    margin: 0px;
    text-align: center;
}

.Smile{
    width: 45%;
    /* margin-top: 100px; */
    margin-left: 0px;
    text-align: left;
}

.pSize{
    font-size: 20pt;
    list-style-type: none;
}

/* img[src="./public/images/Profilbild Purple Purple II.png"]{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto

} */

.sourceMedium{
    clear: both;
}

p{
    color: rgb(3, 35, 86);
    font-size: 30px;
    padding: 40px;
}

.last{
    opacity: 0.6;
    width: 100%;
}

.footer{
    color: rgb(3, 35, 86);
    font-size: 10pt;
}